body {
  font-family: 'Reem Kufi', sans-serif;
}

button {
  margin-top: 15px;
  line-height: 30px;
}

.gameArea {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 20px;
  padding-bottom: 45px;
  min-height: 750px;
}

#questionRow {
  display: none;
}

#answersRow {
  display: none;
}

#timer {
  display: inline;
}

#reset {
  display: none;
}

#resultsRow {
  display: none;
}

#moreInfoRow {
  display: none;
  margin-top: 10px;
}

.questionImage {
  margin: auto;
  max-width: 250px;
  margin-top: 25px;
}

.questionOption {
  display: block;
  margin: auto;
  margin-top: 10px;
  min-height: 60px;
  line-height: 30px;
  width: 75%;
  border: 3px solid white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

#readyButton {
  font-size: 10px;
}

.questionOption:hover {
  box-shadow: 0 5px slategray;
  transform: translateY(4px);
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}

#readyButton:hover, #reset:hover {
  box-shadow: 0 5px slategray;
  transform: translateY(4px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

#readyButton h5, #reset h5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#readyButton h5:after, #reset h5:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#readyButton:hover h5, #reset:hover h5 {
  padding-right: 25px;
}

#readyButton:hover h5:after, #reset:hover h5:after {
  opacity: 1;
  right: 0;
}

@media only screen and (max-width: 980px) and (min-width: 768px) {}

@media only screen and (max-width: 768px) and (min-width: 640px) {}

@media only screen and (max-width: 640px) {
  #readyButton {
    font-size: 15px;
    line-height: 20px
  }
  .questionOption {
    line-height: 15px;
    font-size: 10px;
    border: 1.5px solid white;
  }
}