body {
  background: yellow;
}

.gameArea {
  margin-top: 50px;
  padding: 20px;
}

#questionRow {
  display: none;
}

#answersRow {
  display: none;
}

#timer {
  display: none;
}

#reset {
  display: none;
}