body {
  background: yellow;
  font-family: 'Reem Kufi', sans-serif;
}

.gameArea {
  margin-top: 50px;
  padding: 20px;
}

#questionRow {
  display: none;
}

#answersRow {
  display: none;
}

#timer {
  display: inline;
}

#reset {
  display: none;
}

#resultsRow {
  display: none;
}